h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body{
    background-image: url(peakpx.jpg);
    justify-content: center;
    align-items: center;
    height: 100%;
}
/* .b1 {
    background-color: aqua;
}

.b2 {
    background-color: goldenrod;
}

.b3 {
    background-color: cadetblue;
}

.b4 {
    background-color: darkgoldenrod;
} */
.container {
    background-color: rgb(114, 121, 96);
    border-radius: 10px;
    padding: 40px;
    border: 3px black solid;

    height: 550px;
    text-align: center;

}

.main {
    margin-top: 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100% !important;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .b1 {
    width: 10%;
    border-radius: 7px;
    cursor: pointer;

}

.b2 {
    width: 10%;
    border-radius: 7px;
    cursor: pointer;

}

.b3 {
    width: 10%;
    border-radius: 7px;
    cursor: pointer;

}

.b4 {
    width: 10%;
    border-radius: 7px;
    cursor: pointer;

} */
.row1 {
    margin-top: 10px;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    cursor: pointer;
    font-size: large;
}


input {
    width: 285px;
    height: 70px;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: large;
}

#C {
    width: 144px;
}